# Auto detect text files and perform LF normalization
* text=auto
*.nc filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*.glb filter=lfs diff=lfs merge=lfs -text
shared-assets/models/paitkar.glb filter=lfs diff=lfs merge=lfs -text
